{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <section class="login-section">
        <div class="login-div">
            <div class="login-header">
                <img src="{{ url_for('static', filename='images/cart logo white.png') }}" class="login-img" alt="logo" />
                <h2>Sign in</h2>
                <p>Use your Registry Account</p>
            </div>
            <div class="login-remind">
                <form action="{{ url_for('blue_print.login') }}" method="POST" class="login-form">
                    <label>Email</label>
                    <input type="email" value="{{ email }}" name="email" placeholder="Enter your email"/>
                    
                    <label>Password</label>
                    <input type="password" value="{{ password }}" name="password" id="password-input" placeholder="Enter your email"/>

                    <div class="show-pass-div">
                        <input type="checkbox" onclick="showPassword()" style="height: 20px;"/>
                        <p>Show Password</p>
                    </div>

                    <div class="role-div">
                        <p>Role : </p>
                        <div>
                            <div>
                                <input type="radio" style="height: 20px;" value="Customer" checked name="role-check"/>
                                <p>Customer</p>
                            </div>
                            <div>
                                <input type="radio" style="height: 20px;" value="Agent" name="role-check"/>
                                <p>Agent</p>
                            </div>
                        </div>
                    </div>

                    <button class="submit-btn" type="submit">Login</button>

                    <div>
                        <a href="#" class="links">Forgot Password?</a> <br> 
                        <div>
                            <a href="{{ url_for('blue_print.register') }}" class="links">Don't have an account yet? Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}